---
import ExternalLink from "@astropub/icons/ExternalLink";
import FileText from "@astropub/icons/FileText";
import { icon_size } from "../utils/constants";
const { note } = Astro.props;
---

<article class='articleWrapper'>
  <div class='articleSide'>
    <p class='text-xs opacity-50'>{note.date}</p>
    <div class='flex gap-2 items-center'>
      <FileText width={icon_size} height={icon_size} />
      <p class='font-bold'>{note.title}</p>
    </div>
    <p class='text-sm opacity-80'>
      {note.description}
    </p>
  </div>
  <a href={note.url} target='_blank' class='pt-4'>
    <button class='btn btn-outline rounded-none font-normal'>
      <ExternalLink width={icon_size} height={icon_size} />
      read notes
    </button></a
  >
</article>
