---
import ExternalLink from "@astropub/icons/ExternalLink";
import GitHubLogo from "@astropub/icons/GitHubLogo";
import { icon_size } from "../utils/constants";
import { getStatusConfig } from "../utils/getStatusConfig";

const { project } = Astro.props;
const currentStatus = getStatusConfig(project.status);
---

<article class='articleWrapper'>
  <div class='articleSide'>
    <div class='flex items-center gap-2'>
      <p class='font-bold'>{project.title}</p>
      <div class='inline-grid *:[grid-area:1/1]'>
        <div class={`status rounded-none animate-ping ${currentStatus.color}`}>
        </div>
        <div class={`status rounded-none ${currentStatus.color}`}></div>
      </div>
      <p class='text-xs opacity-30'>{currentStatus.text}</p>
    </div>
    <p class='text-sm opacity-80 pb-2 lg:pb-0'>{project.description}</p>
  </div>
  <div class='articleSide'>
    <div class='flex gap-2 pb-2 lg:pb-0 lg:justify-end'>
      <a href={project.giturl} target='_blank'>
        <GitHubLogo
          width={icon_size}
          height={icon_size}
          class='hover:opacity-60'
        />
      </a>
      {
        project.link && (
          <a href={project.url} target='_blank'>
            <ExternalLink
              width={icon_size}
              height={icon_size}
              class='hover:opacity-60'
            />
          </a>
        )
      }
    </div>
    <div class='flex flex-wrap gap-2 lg:justify-end'>
      {
        project.tags.map((tag: string) => (
          <div class='badge badge-outline rounded-none text-xs'>{tag}</div>
        ))
      }
    </div>
  </div>
</article>
